body {
    background-color: beige; /*Aplica color de fondo*/
    margin: 0; /* Elimina el margen que viene predeterminado */
    padding: 0; /* Elimina los espacios */
}
.Container {
    display: flex; /* Organiza los hijos de forma flexible */
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra los articulos */
    gap: 20px; /* Espacio entre los arciculos */
}

section article {
    transition: box-shadow 0.3s ease; /*Aplica una transición suave de 0.3 segundos */
    background-color: chocolate; /* Aplica un color de fondo chocolate */
    margin: 16px 0; /* Se agrega un margen vergical */
    border-radius: 8px; /* Redonde las esquinas del article */
    padding: 4px 0; /* Espacios */
    cursor: pointer; /* Cambia el estilo del cursor */
}

section article:hover {
    box-shadow: 0 1.6px 6.4px rgb(117, 57, 13); /*Se muestra una sombra en el elemento*/
}

section article h2, section article p {
    margin: 16px;
    color: white;
}

footer {
    background-color: chocolate;
    padding:  48px;
    color: white;
}

footer section {
    float: right;
    margin: 0;
}

footer p {
    margin: 0;
}

footer a {
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: brown;
}

header {
    background-color: chocolate;
    padding: 1px;
}

header h1 {
    color: white;
    text-align: center;
}

header a {
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
}

header a:hover {
    color: brown;
}